body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.myGlyphMarginClass {
  background: black;
}
.myGlyphMarginClass::before {
  content: '+';
  display: block;
  margin-left: 4px;
  font-size: 0.9rem;
  color: #a5db00;
}

.myGlyphMarginClass:hover {
  margin-left: 4px;
}

.myContentClass {
  background: lightblue;
}
